<div class="servizi">
    <div class="intestazione">
        <h5>SERVIZI</h5>
    </div>
    <div class="immagini">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/images/foto13.jpg " alt=" ">
            </div>
            <div class="col-4 ">
                <img src="../../assets/images/foto15.jpg " alt=" ">
            </div>
            <div class="col-4 ">
                <img src="../../assets/images/foto16.jpg " alt=" ">
            </div>
        </div>
    </div>
</div>