
    <form [formGroup]="registrationForm" class="registrazione-form">
        <mat-form-field class="registrazione-form-width">
            <input matInput placeholder="Nome" formControlName="nome">
            <mat-error *ngIf="registrationForm.get('nome')?.hasError('required')">
                Nome <strong>obbligatorio</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="registrazione-form-width">
            <input matInput placeholder="Cognome" formControlName="cognome">
            <mat-error *ngIf="registrationForm.get('cognome')?.hasError('required')">
                Cognome <strong>obbligatorio</strong>
            </mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="registrazione-form-width">
        <input matInput placeholder="Indirizzo" formControlName="indirizzo">
    </mat-form-field> -->
        <!-- <mat-form-field class="registrazione-form-width">
        <input matInput placeholder="Città" formControlName="città">
    </mat-form-field> -->
        <mat-form-field class="registrazione-form-width">
            <input type="tel" matInput placeholder="Cellulare" formControlName="telefono">
        </mat-form-field>
        <mat-form-field class="registrazione-form-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error
                *ngIf="registrationForm.get('email')?.hasError('email') && !registrationForm.get('email')?.hasError('required')">
                Inserisci un email valida.
            </mat-error>
            <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
                Email <strong>obbligatoria</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="registrazione-form-width">
            <input type="tel" matInput placeholder="Username" formControlName="nomeUtente">
            <mat-error *ngIf="registrationForm.get('nomeUtente')?.hasError('required')">
                Nome utente <strong>obbligatorio</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="registrazione-form-width">
            <input matInput placeholder="Inserisci password" formControlName="password"
                [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' :
                'visibility'}}
            </mat-icon>
            <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
                Password <strong>obbligatoria</strong>
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="formError">
            <div class="formError">Alcuni campi contengono degli errori <br> verificali e <strong>riprova</strong></div> 
        </mat-error>
        <div class="bottone-registrati">
            <button (click)="registraDati()" mat-raised-button color="accent">Registrati</button>
        </div>
        <div class="or">oppure</div>
        <div class="bottone-login">
            <button (click)="goToLogin()" mat-raised-button color="primary">Accedi</button>
        </div>
    </form>