

    .login-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .login-form-width {
        width: 100%;
    }

    .bottone-registrati{
        padding: 2rem 0;
    }
    .bottone-login{
        padding: 2rem 0;
    }