<h2 mat-dialog-title>I TIPI DI PELLE</h2>
<mat-dialog-content class="mat-typography">
  <h4>
    Prendersi cura della propria pelle, ed in generale di noi stessi, dovrebbe essere per tutti una priorità.
    Per prendersene cura nel migliore dei modi è necessario capire a cosa è soggetta.
  </h4>

  <h2>
    CLIMA-LUOGO
  </h2>
  <h3>
    La pelle varia molto in base alle varie temperature e luogo in cui si trascorre la maggior parte del proprio tempo,
    appunto per questo ognuno ha esigenze diverse, ed ha bisogno di organizzare la sua skincare routine.
  </h3>
  <h2>
    STILE DI VITA
  </h2>

  <h3>
    Anche lo stile di vita che portiamo avanti influisce sull'aspetto e stato della pelle. Inutile dire che
    bisognerebbe, a prescindere dalla pelle, mantenere uno stile di vita sano, alimentazione corretta, idratazione e
    fare esercizio.
    Purtroppo i prodotti da soli non servono a molto se non li si accompagna anche da altro.
  </h3>
  <h2>
    ETÀ
  </h2>
  <h3>
    Come tutti sappiamo, ogni età ha la sua fase. Partendo da quella delle adolescenti, dove si ha lo sviluppo ormonale,
    alle donne più mature, dove troviamo un cambiamento ormonale e meno sviluppo di collagene. Possiamo però con la
    skincare giusta aiutarci ad affrontare il passare degli anni nel migliore dei modi, cercando di tenerla sempre
    'giovane', o meglio elastica, idratata e luminosa.
  </h3>
  <br>
  <h3>
    Una volta capite le proprie esigenze in base all'età ed abitudini, dobbiamo imparare a capire il nostro tipo di
    pelle.
  </h3>
  <h3>
    Sostanzialmente i tipi sono 4:
  </h3>
  <ul>
    <li>Pelle Secca</li>
    <li>Pelle Grassa</li>
    <li>Pelle Mista</li>
    <li>Pelle Normale</li>
  </ul>


  <h3>
    Per riconoscere il nostro tipo di pelle possiamo provare con il Test Dell'Acqua, il più semplice ed accessibile a
    chiunque.
  </h3>
  <h3>
    Ovvero :
  </h3>
  <ol>
    <li>Lavare il viso con acqua fresca</li>
    <li>Tamponare con asciugamano</li>
    <li>Aspettare un'oretta senza applicare nulla</li>
    <li>Guardare allo specchio il risultato</li>
  </ol>

  <ul>
    <li>Se la pelle risulta opaca e spenta, e quando fate espressioni si tira o si arrossa LA PELLE È SECCA</li>
    <li>Se la zona T (naso e fronte) risulta lucida, e il restante del viso non vi da particolari problemi o si tira LA
      PELLE È MISTA</li>
    <li>Se la pelle risulta lucida più o meno su tutto il viso LA PELLE È GRASSA</li>
    <li>Se non avete particolari fastidi, non vi tira, non si arrossa o lucida LA PELLE È NORMALE</li>
  </ul>

  <h3>
    Adesso che sai come trovare il tuo tipo di pelle, cosa aspetti a fare il test e
    controllare se la tua skincare è giusta?
  </h3>
  <h3>
    Perché fai skincare, giusto?
  </h3>
  <h3>
    Ora ti lascio, nei prossimi giorni troverai altri consigli sul come fare la skincare correttamente.
    Baciii
  </h3>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Chiudi</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>