<div class="homepage">
    <div class="benvenuto">
        <p>Ciao, ti do il benvenuto sul mio sito..qui potrai trovare le varie informazioni che mi riguardano, i vari servizi che offro e dove puoi cercarmi per avere maggiori informazioni.. ed in più puoi trovare le foto dei miei lavori nella sezione apposita,
            così da vedere se il mio stile potrebbe rispecchiare il tuo. Ti auguro una buona giornata.</p>
    </div>


    <div class="info">
        <div class="row">
            <div class="col-4">
                <app-card fotografia="foto19" btnLabel="Chi Sono"></app-card>
            </div>
            <div class="col-4">
                <app-card fotografia="foto18" btnLabel="Servizi"></app-card>
            </div>
            <div class="col-4">
                <app-card fotografia="foto17" btnLabel="Contatti"></app-card>
            </div>
        </div>
    </div>
</div>