<div class="card">
    <div class="row">
        <div class="col-sm-6">
            <div class="info_contatti">
                <div class="info">
                    <h5 class="card-title">Per Informazioni E Preventivi </h5>
                    <p class="card-text">invia la tua richiesta compilando il modulo qui di fianco</p>
                </div>

                <div class="contatti">
                    <div class="numero">
                        <img width="15px" height="15px" src="../../assets/images/phone-call.png" alt="">
                        <span>  3385626742</span>
                    </div>
                    <div class="email">
                        <img width="15px" height="15px" src="../../assets/images/envelope.png" alt="">
                        <span>  annamasmakeup@gmail.com</span>
                    </div>
                    <div class="facebook">
                        <img width="15px" height="15px" src="../../assets/images/facebook.png" alt="">
                        <span>  Seguimi su Facebook</span>
                    </div>
                    <div class="instagram">
                        <img width="15px" height="15px" src="../../assets/images/facebook.png" alt="">
                        <a target="_blank" href="https://www.instagram.com/annam_makeupartist/"><span>  Seguimi su Instagram</span></a>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="mb-3 ">
                <label for="exampleFormControlInput1 " class="form-label ">Nome</label>
                <input type="text " class="form-control " placeholder=" ">
            </div>
            <div class="mb-3 ">
                <label for="exampleFormControlInput1 " class="form-label ">Email</label>
                <input type="email " class="form-control " id="exampleFormControlInput1 " placeholder="name@example.com ">
            </div>
            <div class="mb-3 ">
                <label for="exampleFormControlTextarea1 " class="form-label ">Messaggio</label>
                <textarea class="form-control " id="exampleFormControlTextarea1 " rows="3 "></textarea>
            </div>
            <app-button [btnType]=" 'primary' ">Invia</app-button>


        </div>
    </div>
</div>