.card {
    margin: 60px;
    padding: 60px;
    background-image: url("../../assets/images/splash.png");
    background-size: center;
    background-repeat: no-repeat;
    background-position: center;
}

.info {
    margin-bottom: 40px;
}

.contatti {
    padding: 0px 30px;
}

.numero,
.facebook,
.instagram,
.email {
    margin: 10px 0px;
}